$primary_color:#02027A;
$secondary_color:#FFC94D;
$text_color:#fff;
$body_color:#aab6c4;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@function set-text-color($color) {
    @if (lightness($color)> 40%) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (max-width: 1600px) {
        @content;
    }
}