// form{
//     display: flex;
//     flex-direction: column;
// }

.form{
    &-control{
        margin: 10px 0;
        margin-bottom: 20px;
    }

    input[type='text'],
        input[type='password']{
            background-color: #eee;
            border: none;
            border-radius: 2px;
            width: 100%;
            padding: 12px 15px;

            &:focus{
                outline: none;
            }
            &::placeholder{
                opacity: 0.3;
            }
        }

        button{
            width: 100%;
            margin: 13px auto;
        }

        a{
            color:#d8a11f;
            display: block;
            width: fit-content;
            margin: 19px auto;
        }
}