<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>C.A.T.R.E.C</title>
  <link rel="stylesheet" href="{% static 'users\css\main.css' %}">
</head>

<body>

  <!--header section-->
  <header class="header">
    <div class="header_brand">
      <div class="header_brand_img">
        <img src="{% static 'users\images\index.jpg' %}" alt="logo">
      </div>
      <span class="header_brand_text">C.A.T.R.E.C</span>
    </div>


    <nav class="r-nav">
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link active">Profile</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link active">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="menu-btn" id="menu-btn">
      <span class="menu-btn_burger"></span>
    </div>

  </header>
  <main>
    <param name="" value="">

    <!--Hero section-->
    <section>
      <div class=" hero overlay">
        <div class="hero_text container">
          <h2>Welcome to the official C.A.T.R.E.C Website</h2>
          <p>CATREC is an organization under the obafemi awolowo university that is responsible for the
            allocation of land for business owners and others within the university community.
          </p>
        </div>
        <div class="button">
          <a href="{% url 'register' %}" class="form_links">New Applicants</a>
          <a href="{% url 'login' %}" class="form_links">Existing Applicants</a>
        </div>

      </div>
    </section>
  </main>
  <footer>

  </footer>
  <script src="{% static 'users\js\main.js' %}"></script>
  <a href=""></a>
</body>

</html>