<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="{% static 'users\css\main.css' %}">
</head>

<body>
    <!--header section-->
    <header class="header">
        <div class="header_brand">
            <div class="header_brand_img">
                <img src="{% static 'users\images\index.jpg' %}" alt="logo">
            </div>
            <span class="header_brand_text">C.A.T.R.E.C</span>
        </div>


        <nav class="r-nav">
            <ul class="nav">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
            </ul>
        </nav>
        <div class="menu-btn" id="menu-btn">
            <span class="menu-btn_burger"></span>
        </div>


    </header>

    {% if messages %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}

    <!--login form-->
    <div class="form card login">
        <form action="" autocomplete="on" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <input type="text" placeholder="email address" required name="email">
            </div>
            <div class="form-control">
                <input type="password" placeholder="Password" minlength="8" name="password" autofocus required>
            </div>
            <a href="#">Forgot password?</a>
            <button type="submit">Sign In</button>

        </form>
    </div>
    <script src="{% static 'users\js\main.js' %}"></script>
</body>

</html>