<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log-in</title>
  <link rel="stylesheet" href="{% static 'users\css\main.css' %}">
</head>

<body>

  <!--header section-->
  <header class="header">
    <div class="header_brand">
      <div class="header_brand_img">
        <img src="{% static 'users\images\index.jpg' %}" alt="logo">
      </div>
      <span class="header_brand_text">C.A.T.R.E.C</span>
    </div>


    <nav class="r-nav">
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
      </ul>
    </nav>
    <div class="menu-btn" id="menu-btn">
      <span class="menu-btn_burger"></span>
    </div>

  </header>

  <!-- signup -->
  <section class="signup_text">
    <h2>Apply for a space within the OAU community using the form below</h2>
  </section>
  <!--signup form-->
  <div class="form card">
    <form action="" autocomplete="on" method="POST">
      {% csrf_token %}
      <div class="form-control">
        <input type="Email" placeholder="Email" autofocus required required name="email">
      </div>
      <div class="form-control">
        <input type="text" placeholder="First Name" autofocus required required name="first_name">
      </div>
      <div class="form-control">
        <input type="text" placeholder="Last Name" autofocus required required name="last_name">
      </div>
      <div class="form-control">
        <input type="text" placeholder="Registration Number" autofocus required required name="reg_number">
      </div>
      <div class="form-control">
        <input type="password" placeholder="Password" name="password" minlength="8" autofocus required>
      </div>
      <div class="form-control">
        <input type="password" placeholder="Confirm Password" minlength="8" autofocus required>
      </div>
      <button>Sign Up</button>

    </form>
  </div>
  <script src="{% static 'users\js\main.js' %}"></script>
</body>

</html>